doctype html
head
	title Tic Tac Toe
	meta(charset='UTF-8')
	style
		include ../src/styles.css

body
	h1 Tic Tac Toe
	p
		| Player 1: X
		br
		| Player 2: O

	#turnIndicator
		| Player 1 (X) starts
		br
		|
	#board
	button(type='submit' onClick='empty()') Restart
	script 
		include ../src/play.js
