doctype html
head
  title Tic Tac Toe
  meta(charset='UTF-8')
  style
    include ../src/styles.css

body
  h1 Tic Tac Toe
  p#info
    | Player 1 is X
    br
    | Player 2 is O
    br
    br
    | Player 1 starts
  #board
  p#c
  input(type='submit' value = "Restart" onclick='clearTable()')

  script
    include ../src/play.js
